@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>Collaborative Text Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="/js/site.js"></script>
</head>
<body>
    <section>
        <textarea id="editor" rows="10" cols="30"></textarea>
        <div id="status"></div>
    </section>
</body>
</html>

